
#preloader {
    position        : fixed;
    display         : flex;
    flex-flow       : row wrap;
    justify-content : center;
    align-items     : center;
    background      : var(--color-body);
    z-index         : 500;
    height          : 100vh;
    width           : 100%;
    opacity         : 1;
}

.no-js #preloader {
    display : none;
}

#loader {
    width             : var(--vspace-2);
    height            : var(--vspace-2);
    padding           : 0;
    background-color  : white;
    border-radius     : 100%;
    -webkit-animation : sk-scaleout 1.0s infinite ease-in-out;
    animation         : sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform : scale(0);
        transform         : scale(0);
    }

    100% {
        -webkit-transform : scale(1);
        transform         : scale(1);
        opacity           : 0;
    }
}

@keyframes sk-scaleout {
    0% {
        transform : scale(0);
    }

    100% {
        transform : scale(1);
        opacity   : 0;
    }
}

fieldset {
    border : none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    --input-height      : var(--vspace-2);
    --input-line-height : var(--vspace-1);
    --input-vpadding    : calc((var(--input-height) - var(--input-line-height)) / 2);
    display             : block;
    height              : var(--input-height);
    padding             : var(--input-vpadding) 0 calc(var(--input-vpadding) - 1px);
    border              : 0;
    outline             : 0;
    color               : var(--color-text-light);
    font-family         : var(--font-1);
    font-size           : calc(var(--text-size) * 0.7778);
    line-height         : var(--input-line-height);
    max-width           : 100%;
    background          : transparent;
    border-bottom       : 1px solid var(--color-border);
    transition          : all .3s ease-in-out;
}

.ss-custom-select {
    position : relative;
    padding  : 0;
}

.ss-custom-select select {
    -webkit-appearance : none;
    -moz-appearance    : none;
    appearance         : none;
    text-indent        : 0.01px;
    text-overflow      : '';
    margin             : 0;
    vertical-align     : middle;
    line-height        : var(--vspace-1);
}

.ss-custom-select select option {
    padding-left     : 2rem;
    padding-right    : 2rem;
    background-color : var(--color-body);
}

.ss-custom-select select::-ms-expand {
    display : none;
}

.ss-custom-select::after {
    border-bottom    : 1px solid white;
    border-right     : 1px solid white;
    content          : '';
    display          : block;
    height           : 8px;
    width            : 8px;
    margin-top       : -7px;
    pointer-events   : none;
    position         : absolute;
    right            : 2.4rem;
    top              : 50%;
    transition       : all 0.15s ease-in-out;
    transform-origin : 66% 66%;
    transform        : rotate(45deg);
}

textarea {
    min-height : calc(8 * var(--space));
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    color         : var(--color-text);
    border-bottom : 1px solid var(--color-1);
}

label,
legend {
    font-family   : var(--font-1);
    font-weight   : 600;
    font-size     : var(--text-sm);
    line-height   : var(--vspace-0_5);
    margin-bottom : var(--vspace-0_5);
    color         : var(--color-text-dark);
    display       : block;
}

input[type="checkbox"],
input[type="radio"] {
    display : inline;
}

label>.label-text {
    display     : inline-block;
    margin-left : 1rem;
    font-family : var(--font-1);
    line-height : inherit;
}

label>input[type="checkbox"],
label>input[type="radio"] {
    margin   : 0;
    position : relative;
    top      : 2px;
}

::-webkit-input-placeholder {
    color : var(--color-placeholder);
}

:-moz-placeholder {
    color   : var(--color-placeholder);
    opacity : 1;
}

::-moz-placeholder {
    color   : var(--color-placeholder);
    opacity : 1;
}

:-ms-input-placeholder {
    color : var(--color-placeholder);
}

::-ms-input-placeholder {
    color : var(--color-placeholder);
}

::placeholder {
    color : var(--color-placeholder);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color : var(--color-1);
    transition              : background-color 5000s ease-in-out 0s;
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    --btn-height            : var(--vspace-btn);
    display                 : inline-block;
    font-family             : var(--font-1);
    font-weight             : 600;
    font-size               : var(--text-xs);
    text-transform          : uppercase;
    letter-spacing          : .35em;
    height                  : var(--btn-height);
    line-height             : calc(var(--btn-height) - 2px);
    padding                 : 0 3.6rem;
    margin                  : 0 0.4rem var(--vspace-0_5) 0;
    color                   : var(--color-btn-text);
    text-decoration         : none;
    text-align              : center;
    white-space             : nowrap;
    cursor                  : pointer;
    transition              : all .3s;
    background-color        : var(--color-btn);
    border                  : 1px solid var(--color-btn);
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background-color : var(--color-btn-hover);
    border-color     : var(--color-btn-hover);
    color            : var(--color-btn-hover-text);
    outline          : 0;
}

/* button primary
 */
.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
    background   : var(--color-btn-primary);
    border-color : var(--color-btn-primary);
    color        : var(--color-btn-primary-text);
}

.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus,
.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover {
    background   : var(--color-btn-primary-hover);
    border-color : var(--color-btn-primary-hover);
    color        : var(--color-btn-primary-hover-text);
}

.btn.u-fullwidth,
button.u-fullwidth {
    width        : 100%;
    margin-right : 0;
}

.btn--small,
button.btn--small {
    --btn-height : calc(var(--vspace-btn) - 1.6rem);
}

.btn--medium,
button.btn--medium {
    --btn-height : calc(var(--vspace-btn) + .8rem);
}

.btn--large,
button.btn--large {
    --btn-height : calc(var(--vspace-btn) + 1.6rem);
}

.btn--stroke,
button.btn--stroke {
    background : transparent !important;
    border     : 1px solid var(--color-btn-stroke);
    color      : var(--color-btn-stroke-text);
}

.btn--stroke:focus,
button.btn--stroke:focus,
.btn--stroke:hover,
button.btn--stroke:hover {
    background : var(--color-btn-stroke-hover) !important;
    border     : 1px solid var(--color-btn-stroke-hover);
    color      : var(--color-btn-stroke-hover-text);
}

.btn--pill,
button.btn--pill {
    padding-left  : 3.2rem !important;
    padding-right : 3.2rem !important;
    border-radius : 1000px !important;
}

table {
    border-width    : 0;
    width           : 100%;
    max-width       : 100%;
    font-family     : var(--font-1);
    border-collapse : collapse;
}

th,
td {
    padding       : var(--vspace-0_5) 3.2rem calc(var(--vspace-0_5) - 1px);
    text-align    : left;
    border-bottom : 1px solid var(--color-border);
}

th {
    padding     : var(--vspace-0_5) 3.2rem;
    color       : var(--color-text-dark);
    font-family : var(--font-1);
    font-weight : 600;
}

th:first-child,
td:first-child {
    padding-left : 0;
}

th:last-child,
td:last-child {
    padding-right : 0;
}

.table-responsive {
    overflow-x                 : auto;
    -webkit-overflow-scrolling : touch;
}

.pgn {
    --pgn-num-height : calc(var(--vspace-1) + .4rem);
    margin           : var(--vspace-1) auto;
    text-align       : center;
}

.pgn ul {
    display         : inline-flex;
    flex-flow       : row wrap;
    justify-content : center;
    list-style      : none;
    margin-left     : 0;
    position        : relative;
    padding         : 0 6rem;
}

.pgn ul li {
    margin  : 0;
    padding : 0;
}

.pgn__num {
    font-family   : var(--font-1);
    font-weight   : 600;
    font-size     : var(--text-size);
    line-height   : var(--vspace-1);
    display       : block;
    padding       : .2rem 1.2rem;
    height        : var(--pgn-num-height);
    margin        : .2rem .2rem;
    color         : var(--color-text-dark);
    border-radius : 4px;
    transition    : all, .3s, ease-in-out;
}

.pgn__num:focus,
.pgn__num:hover {
    background : var(--color-gray-9);
    color      : var(--color-white);
}

.pgn .current,
.pgn .current:focus,
.pgn .current:hover {
    background-color : var(--color-gray-9);
    color            : var(--color-white);
}

.pgn .inactive,
.pgn .inactive:focus,
.pgn .inactive:hover {
    opacity : 0.4;
    cursor  : default;
}

.pgn__prev,
.pgn__next {
    display         : inline-flex;
    flex-flow       : row wrap;
    justify-content : center;
    align-items     : center;
    height          : var(--pgn-num-height);
    width           : 4.8rem;
    line-height     : var(--vspace-1);
    border-radius   : 4px;
    padding         : 0;
    margin          : 0;
    opacity         : 1;
    font            : 0/0 a;
    text-shadow     : none;
    color           : transparent;
    transition      : all, .3s, ease-in-out;
    position        : absolute;
    top             : 50%;
    transform       : translate(0, -50%);
}

.pgn__prev:focus,
.pgn__prev:hover,
.pgn__next:focus,
.pgn__next:hover {
    background-color : var(--color-gray-9);
}

.pgn__prev svg,
.pgn__next svg {
    height     : 2.4rem;
    width      : 2.4rem;
    transition : all, .3s, ease-in-out;
}

.pgn__prev svg path,
.pgn__next svg path {
    fill : var(--color-text-dark);
}

.pgn__prev:focus svg path,
.pgn__prev:hover svg path,
.pgn__next:focus svg path,
.pgn__next:hover svg path {
    fill : white;
}

.pgn__prev {
    left : 0;
}

.pgn__next {
    right : 0;
}

.pgn__prev.inactive,
.pgn__next.inactive {
    opacity : 0.4;
    cursor  : default;
}

.pgn__prev.inactive:focus,
.pgn__prev.inactive:hover,
.pgn__next.inactive:focus,
.pgn__next.inactive:hover {
    background-color : transparent;
}

@media screen and (max-width: 600px) {
    .pgn ul {
        padding : 0 5.2rem;
    }
}

.alert-box {
    padding       : var(--vspace-0_75) 4rem var(--vspace-0_75) 3.2rem;
    margin-bottom : var(--vspace-1);
    border-radius : var(--border-radius);
    font-family   : var(--font-1);
    font-weight   : 500;
    font-size     : var(--text-sm);
    line-height   : var(--vspace-0_75);
    opacity       : 1;
    visibility    : visible;
    position      : relative;
}

.alert-box__close {
    position : absolute;
    display  : block;
    right    : 1.6rem;
    top      : 1.6rem;
    cursor   : pointer;
    width    : 12px;
    height   : 12px;
}

.alert-box__close::before,
.alert-box__close::after {
    content  : '';
    display  : inline-block;
    width    : 1px;
    height   : 12px;
    position : absolute;
    top      : 0;
    left     : 5px;
}

.alert-box__close::before {
    transform : rotate(45deg);
}

.alert-box__close::after {
    transform : rotate(-45deg);
}

.alert-box--error {
    background-color : var(--color-error);
    color            : var(--color-error-content);
}

.alert-box--error .alert-box__close::before,
.alert-box--error .alert-box__close::after {
    background-color : var(--color-error-content);
}

.alert-box--success {
    background-color : var(--color-success);
    color            : var(--color-success-content);
}

.alert-box--success .alert-box__close::before,
.alert-box--success .alert-box__close::after {
    background-color : var(--color-success-content);
}

.alert-box--info {
    background-color : var(--color-info);
    color            : var(--color-info-content);
}

.alert-box--info .alert-box__close::before,
.alert-box--info .alert-box__close::after {
    background-color : var(--color-info-content);
}

.alert-box--notice {
    background-color : var(--color-notice);
    color            : var(--color-notice-content);
}

.alert-box--notice .alert-box__close::before,
.alert-box--notice .alert-box__close::after {
    background-color : var(--color-notice-content);
}

.alert-box.hideit {
    opacity    : 0;
    visibility : hidden;
    transition : all .5s;
}
