.row {
    width     : 92%;
    max-width : var(--width-grid-max);
    margin    : 0 auto;
    display   : flex;
    flex-flow : row wrap;
}

.row .row {
    width        : auto;
    max-width    : none;
    margin-left  : calc(var(--gutter) * -1);
    margin-right : calc(var(--gutter) * -1);
}

.column {
    display : block;
    flex    : 1 1 0%;
    padding : 0 var(--gutter);
}

.lg-12 {
    flex  : none;
    width : 100%;
}

.testimonials {
    margin-top : var(--vspace-3);
}

.testimonials .swiper-container {
    padding-bottom : var(--vspace-2_5);
}

.testimonials .swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
    margin : 0 9px;
}

.testimonials .swiper-pagination-bullet {
    width      : 6px;
    height     : 6px;
    background : white;
    opacity    : 0.4;
}

.testimonials .swiper-pagination-bullet-active {
    background : var(--color-1);
    opacity    : 1;
}

.testimonial-slider__slide {
    position : relative;
}

.testimonial-slider__slide:hover .testimonial-slider__avatar {
    filter : none;
}

.testimonial-slider__slide:hover .testimonial-slider__cite strong {
    color : var(--color-1);
}

.testimonial-slider__slide:hover .testimonial-slider__cite span {
    color : white;
}

.testimonial-slider__author {
    display       : inline-block;
    min-height    : var(--vspace-2);
    margin-bottom : var(--vspace-0_5);
    padding-left  : var(--vspace-2_5);
    position      : relative;
}

.testimonial-slider__avatar {
    width         : var(--vspace-1_75);
    height        : var(--vspace-1_75);
    border-radius : 100%;
    outline       : none;
    position      : absolute;
    top           : 0;
    left          : 0;
    filter        : grayscale(100%);
    transition    : all 0.3s ease-in-out;
}

.testimonial-slider__cite {
    display : block;
}

.testimonial-slider__cite strong,
.testimonial-slider__cite span {
    font-style : normal;
    transition : all 0.3s ease-in-out;
}

.testimonial-slider__cite strong {
    font-size   : calc(var(--text-size) * 0.8947);
    font-weight : 400;
    line-height : var(--vspace-0_75);
    color       : white;
}

.testimonial-slider__cite span {
    display     : block;
    font-size   : calc(var(--text-size) * 0.7368);
    font-weight : 300;
    line-height : var(--vspace-0_5);
    color       : var(--color-text-light);
}
