s-about {
    padding-top    : var(--vspace-4);
    padding-bottom : var(--vspace-3);
}

.about-info {
    --gutter    : 0;
    width       : 100%;
    align-items : center;
}

.about-info__pic {
    object-fit     : cover;
    margin         : 0;
    vertical-align : bottom;
}

.pic-block {
    width: 30% !important;
    margin-right: 50px;
}

.about-detail {
    width: 62% !important;
}

.about-detail-text {
    text-align: right;
    word-spacing: 4px;
}

.about-info__text {
    padding     : var(--vspace-3_5) 10vw var(--vspace-2) 0;
    margin-left : -4rem;
}

.about-info__text .text-pretitle {
    margin-bottom : var(--vspace-1);
}

.about-info__text .btn {
    margin-top    : var(--vspace-1);
    margin-bottom : 0;
}

.btn.u-fullwidth,
button.u-fullwidth {
    width        : 100%;
    margin-right : 0;
}

.btn--medium,
button.btn--medium {
    --btn-height : calc(var(--vspace-btn) + .8rem);
}

@media screen and (max-width: 1300px) {
    .about-info__text {
        padding : var(--vspace-2) 8rem var(--vspace-1_5) 0;
    }
}

@media screen and (max-width: 1200px) {
    .about-info {
        --gutter  : 1.6rem;
        width     : 92%;
        max-width : 800px;
    }

    .about-info__text {
        padding     : var(--vspace-1) 0 0 0;
        margin-left : 0;
    }
}

@media screen and (max-width: 600px) {
    .about-info {
        width : 100%;
    }
}